body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  text-align: start;
}

p, div {
  font-family: "Open Sans";
}

.color-wrapper {
  display: inline-block;
  margin-right: 15px;
  top: 0;

  #color {
  display: inline-block;
  border: 1px black solid;
    height: 308px;
    width: 210px;
  }
}

.changer-wrapper {
  margin-left: 50px;
  display: inline-block;
}

.name-field {
  width: 300px;
  padding: 8px 16px;
  border: black solid 1px;
  outline: 0;
}

.theme-select {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;

  &[data-delete-id] {
    width: 20px;
    margin-right: 20px;
  }

  &[data-edit-id] {
    width: 20px;
  }

  &[data-id] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.input-group {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.left-part {
  padding: 8px 16px;
  border: gray solid 1px;
  outline: 0;
  border-radius: 1.25rem;
  border: {
    top-right-radius: 0;
    bottom-right-radius: 0;
  }

  &.bottom {
    border-top-left-radius:0;
    border-top: 0;
    margin-right: 78px;
  }

  &.top {
    margin-right: 78px;
    border-bottom-left-radius:0;
  }
}

.right-part {
  padding: 8px 16px;
  outline: 0;
  cursor: pointer;
  border: gray solid 1px;
  border: {
    left: 0;
    radius: 1.25rem;
    top-left-radius: 0;
    bottom-left-radius: 0;
  }

  &.long {
    position: absolute;
    height: 65px;
    margin-left: -78px;
  }
}

.login-form {
  width: 287px;
}

.changer, .themes {
  display: inline-block;
}

.changer {
  width: 250px;
}

#themes {
  height: 308px;
  overflow: scroll;
  overflow-x: hidden;
  outline: black 1px solid;
  margin-bottom: 58px;
}

.save-theme {
  margin-left: auto;
}

.button-wrapper {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
