body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theme-select {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;

  &[data-delete-id] {
    width: 20px;
  }

  &[data-edit-id] {
    width: 20px;
    margin-right: 20px;
  }

  &[data-id] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }

  &:hover {
    color: white;
  }
}

.input-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.left-part {
  padding: 8px 16px;
  border: 0;
  outline: 0;
  border-radius: 1.25rem;
  border: {
    top-right-radius: 0;
    bottom-right-radius: 0;
  }

  &.bottom {
    border-top-left-radius:0;
    border: gray solid 1px;
    border-top: 0;
    margin-right: 78px;
  }

  &.top {
    margin-right: 78px;
    border: gray solid 1px;
    border-bottom-left-radius:0;
  }
}

.right-part {
  padding: 8px 16px;
  outline: 0;
  cursor: pointer;
  border: 0;
  border: {
    radius: 1.25rem;
    top-left-radius: 0;
    bottom-left-radius: 0;
  }

  &.long {
    position: absolute;
    height: 65px;
    margin-left: -78px;
    border: gray solid 1px;
    border-left: 0;
  }
}

.login-form {
  width: 287px;
}

.changer, .themes {
  display: inline-block;
}

#themes {
  max-height: 308px;
  overflow: scroll;
  overflow-x: hidden;
  outline: black 1px solid;
  margin-left: 20px;
}

