body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  text-align: center;
}

.theme-select {
  cursor: pointer;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;

  &[data-delete-id] {
    color: rgb(247, 99, 99);
  }

  &[data-edit-id] {
    color: rgb(24, 207, 55);
  }

  &:hover {
    color: white;
  }
}


